.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.form-select {
    width: auto;
}

.form-control {
    border: 1px solid;
    border-color: gray;
    margin-bottom: 2px;
}

form {
    margin: 100px;
}

i {
    margin: 5px;
}

#submit {
    width: 100%;
}

body {
    padding: 100px;
}

.card {
    margin: 25px;
}