.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}

.form-select {
    width: auto;
}

.form-control {
    border: 1px solid;
    border-color: gray;
    margin-bottom: 2px;
}

body, form {
    padding: 100px;
}

#home {
    background-image: url('Dojo.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

#submit {
    width: 100%;
}